/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-page {
    width: auto;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}
.search_frm_wrap{
    position:realtive;
}
.search_frm{
    display: none;
    position: absolute;
    top: 100%;
    z-index: 9999;
    left: 0;
    right: 0;
    background-color:rgba(255,107,53,0.91);
}

.facet_filters strong{
    color:#000;
}
.product-detail-layout-5 .product-box .button-wrapper{
    text-align: center;
}
.product-detail-layout-5 .product-box .button-wrapper a{
    background: #0081af!important;
    padding: 10px;
    color: #fff;
    text-align: center!important;
    border: 1px solid #0081af;
    transition: all 0.2s;
}
.product-detail-layout-5 .product-box .button-wrapper a:hover{
    background: #fff!important;
    color: #000;
    border: 1px solid #0081af;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img, .fl-page-header-fixed .fl-logo-img{
    max-height: 40px!important;
}

.footer-number-name-wrp .uabb-text-editor p{
    display: inline-block;
    margin-right: 20px;
}
.footer-number-name-wrp .uabb-text-editor ul.storename{
    display: inline-block;
}

.location-get-direction-btn .storename{
    margin: 0px 0 0 20px;
    display: block;
}
.location-get-direction-btn .storename .direction a{
    padding: 12px 37px;
    font-size: 14px;
    width: 100%;
}
.search_frm{
    margin: 0px auto;
    max-width: 1100px;
}
.storename .phone a:before{
    display: none;
}
.gform_wrapper .gfield_time_hour i{
    margin-top: 0px!important;
}
.search-header .fl-icon-wrap .fl-icon i{
    cursor: pointer;
    margin-top: 5px;
}
.map-location .fl-html ul.storename{
    margin-left: 0px;
    width: 100%;
}
#menu-main-menu-1 > li{
    margin: 0px 5px!important;
}
#menu-main-menu-1 li a{
    letter-spacing: 0px;
}
/* #menu-main-menu-1 .menu-item-has-children .uabb-has-submenu-container a{
    padding-left:5px;
    padding-right:5px; 
} */
#menu-main-menu-1 .menu-item-has-children .uabb-has-submenu-container a span:after{
    font-family: 'Font Awesome 5 Free';
    content: '\f107';
    font-weight: 900;
    margin-left: 5px;
    display: inline-block;
    float: right;
    vertical-align: middle;
}

@media(max-width:1024px){
    header.fl-page-header-fixed{
        display: none!important;
    }
    .fl-page-bar .fl-page-bar-container {
        width: 96%;
    }
    .fl-page-bar .fl-page-bar-container .text-right nav .menu li a{
        padding: 2px 5px;
    }
    .fl-page-bar .fl-page-bar-container .storename{
        margin-bottom: 0px;
    }
    header .fl-node-5d935ffb01099{
        width: 100%;
    }
    header .fl-node-5d935ffb01099 .uabb-photo-content img{
        width: 160px;
    }
    .product-box h1{
        font-size: 24px;
    }
    .style-product_list .pro-container>.row>.col-md-7{
        flex: 0 0 57.33333%;
    }
    .style-product_list .pro-container>.row>.col-md-5{
        flex: 0 0 41.66667%;
    }
    .style-product_list .pro-container .pro-details .button-wrapper{
        justify-content: space-around;
    }
    .style-product_list .pro-container .pro-details .button-wrapper a.button{
        min-width: auto;
        width: auto;
    }
}
@media(max-width:768px){
    .style-product_list .pro-container .pro-details .button-wrapper a.button{
        width: 49%;
    }
    .fl-page-bar .fl-page-bar-container {
        width: 100%;
        padding: 10px 20px!important;
    }
    .fl-page-bar .fl-page-bar-container .text-left{
        width: 40%!important;
    }
    .fl-page-bar .fl-page-bar-container .text-right{
        width: 60%!important;
    }
    .fl-page-bar .fl-page-bar-container .text-right nav .menu li a{
        padding: 2px 5px;
    }
}

@media (max-width:768px){
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{
        width: auto!important;
    }

 }
 @media (max-width:767px){
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
 }

@media(max-width:500px){
    .fl-page-bar .fl-page-bar-container .text-left{
        width: 100%!important;
    }
    .fl-page-bar .fl-page-bar-container .text-right{
        width: 100%!important;
    }
    .fl-page-bar .fl-page-bar-container{
        padding: 10px 0px!important;
    }
    .fl-page-bar .fl-page-bar-container .text-right{
        text-align: center!important;
    }
    .fl-page-bar .fl-page-bar-container .text-right nav .menu li a i{
        display: none;
    }
    button#responsive-menu-button{
        top: 90px!important;
    }
    .save-button .uabb-button-wrap a{
        width: auto;
        min-height: auto;
        padding: 10px 20px;
    }
}